header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--header-bg);
  color: var(--header-text);
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  text-decoration: none;
  color: var(--header-text);
  font-weight: bold;
  padding: 0.5rem;
  transition: all 0.3s ease;
}

.nav a:hover {
  background-color: var(--link-bg);
  color: var(--link-text);
  border-radius: 0.5rem;
}

/* Dark Mode Styles */

body.dark-mode {
  --bg-color: #2c2c2c;
  --text-color: #fff;
  --header-bg: #202020;
  --header-text: #fff;
  --link-bg: #444;
  --link-text: #fff;
}

body.dark-mode header {
  background-color: var(--header-bg);
  color: var(--header-text);
}

body.dark-mode .nav a:hover {
  background-color: var(--link-bg);
  color: var(--link-text);
}

main {
  margin: 2rem auto;
  max-width: 800px;
}

.post {
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--post-bg);
  color: var(--text-color);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.post h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.post p {
  margin-bottom: 1rem;
}

.post a {
  color: var(--link-text);
  font-weight: bold;
}

.post a:hover {
  color: var(--header-bg);
}

/* Dark Mode Styles */

body.dark-mode .post {
  background-color: #383838;
  color: var(--text-color);
}

body.dark-mode .post a {
  color: var(--link-text);
}

body.dark-mode .post a:hover {
  color: var(--header-bg);
}
